.select{
  color: #0A83E8;
    width: 20%;

   margin-left: 30%;
   margin-right: 30%;
   padding-left: 10%;
   padding-right: 10%;
   height: 10vh;
  align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.register{
  box-shadow: 0 0 2px gray;
  width: 28%;
  /* border-radius: 3%; */
  height: 60vh;
  margin-left: 65%;
  margin-top: 2%;
}
.heading{
  
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-left:5%;
  padding-right: 5%;
box-shadow: 0 0 2px gray;
  
}
.heading h3{
  color: gray;
  font-weight:900;
}
.heading p{
  color: gray;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  height: 80%;
}
.form label{
  color: gray;
  font-weight: 600;
}
.form input{
  height: 4vh;
  border: 0;
  box-shadow: 0 0 2px gray;
}
.field{
  display: flex;
  flex-direction: column;
  gap: 50%;
}
.form button{
  width: 100%;
}
.selected{
  color: #0A83E8;
  border-bottom: solid 1px #0A83E8  ;
}
.notselected{
  color: gray;
}