*{
    margin: 0;
    padding: 0;
}
.bdy{
    height: 100vh;
    /* overflow: scroll; */
    background-image: url('../resources/background1.png');
    background-size: 1550px ;
    background-repeat:repeat;
}
.navbar{
    position: sticky;
    top: 0;
   color: white;
  padding-left: 2%;
  padding-right: 2%;
    display: flex;
    justify-content: space-between;
    background-color: 
    #0A83E8;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  height: 12vh;
    align-items: center;
    font-size: 100%;
}
.leftNavbar{
    list-style: none;
    display: flex;
   width: 18%;
   gap:8%;
}
.searchBar{
    width:48%;
    height: 5vh;
}
.searchBar input{
    width: 90%;
    height: 4vh;
    border: transparent;
}
.searchBar button{
    border: transparent;
    width: 8%;
    height: 4vh;
}
.rightNavbar{
list-style: none;
display: flex;
width: 20%;
gap:10%;
}
.logo{
    text-align: center;

height: 50px;
}
.link{
 color: white;
    text-decoration: none;
}
.link:hover{
    transition-delay: 100ms;
    color: black;
}
@media screen and (max-width:1100px){
   .searchBar button{
    font-size: 10px;
    position: relative;
    top:-2%;
   }
}
@media screen and (max-width:900px){
    .searchBar button{
     font-size: 9px;
     position: relative;
     top:-2%;
    
    }
    .leftNavbar{
        font-size: 12px;
    }
    .rightNavbar{
        font-size: 12px;
    }
 }
 @media screen and (max-width:650px){
    .searchBar{
        width: 60%;
    }
    .searchBar button{
     font-size: 7px;
     width: 10%;
     position: relative;
     top:-5%;
     
     
    }
    .searchBar input{
        width: 75%;
    }
    .leftNavbar{
        width: 15%;
    }
    .rightNavbar{
        width: 0;
        display: none;
        font-size: 12px;
    }
 }
 @media screen and (max-width:480px){
    .searchBar{
        width: 70%;
    }
    .searchBar button{
     font-size: 6px;
     width: 9%;
     position: relative;
     top:-6%;
     
     
    }
    .leftNavbar{
        width: 0%;
        display: none;
    }
    
 }